:root{
    /*clolors*/
    --color-text: #fff;
    --color-primary: #a457bc;
    --color-secondary: #6a196d;
    --color-dark: #470b47;
    --color-bg: #20042d;


    /*Fonts*/
    --font-robot: "Roboto";
    
}